.git
.github
.vscode
.cursor
.dart_tool
.idea
build/
android/
ios/
macos/
windows/
linux/
*.md
!docker-entrypoint.sh
screenshot/
badges/
altsource/
fastlane/
changelog/
server/.dart_tool/
server/build/
